* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #454233;
    padding: 20px;
    display: flex;
    justify-content: end;
}

body {
    font-family: 'Inter';
    line-height: 1.6;
}